body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}

button{
    cursor: pointer;
}

input{
    color: black;
    align-items: center;
}

.topbanner{
    align-items: center;
    display:flex;
}

#hist{
    vertical-align: top;
    text-align: center;
    margin:5%;
}


.location, .temperature{
    height: 30vh;
    width:50%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.temperature{
    cursor: pointer;
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
}
.degree-section span{
    margin: 10px;
    font-size: 30px;
}
.degree-section h2{
    font-size: 40px;
}